VB.mp4 filter=lfs diff=lfs merge=lfs -text
DB.mp4 filter=lfs diff=lfs merge=lfs -text
LA.mp4 filter=lfs diff=lfs merge=lfs -text
MA.mp4 filter=lfs diff=lfs merge=lfs -text
SA.mp4 filter=lfs diff=lfs merge=lfs -text
SC.mp4 filter=lfs diff=lfs merge=lfs -text
VA.mp4 filter=lfs diff=lfs merge=lfs -text
CC.mp4 filter=lfs diff=lfs merge=lfs -text
DC.mp4 filter=lfs diff=lfs merge=lfs -text
SB.mp4 filter=lfs diff=lfs merge=lfs -text
BA.mp4 filter=lfs diff=lfs merge=lfs -text
BC.mp4 filter=lfs diff=lfs merge=lfs -text
CA.mp4 filter=lfs diff=lfs merge=lfs -text
LB.mp4 filter=lfs diff=lfs merge=lfs -text
MB.mp4 filter=lfs diff=lfs merge=lfs -text
VC.mp4 filter=lfs diff=lfs merge=lfs -text
BB.mp4 filter=lfs diff=lfs merge=lfs -text
CB.mp4 filter=lfs diff=lfs merge=lfs -text
DA.mp4 filter=lfs diff=lfs merge=lfs -text
LC.mp4 filter=lfs diff=lfs merge=lfs -text
